terraform.rc
override.tf.json
override.tf
crash.log
crash.*.log
charlescd*config
.tmp/*
.terraformrc
.idea/*
*_override.tf.json
*_override.tf
*.tfvars.json
*.tfvars
*.tfstate.*
*.tfstate
*.lock.hcl
*.iws
*.iml
**/.terraform/*