**/.terraform/*
*.iml
*.iws
*.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json
.idea/*
.terraformrc
.tmp/*
blog-cluster-config
crash.*.log
crash.log
override.tf
override.tf.json
terraform.rc
